# Indian Start-up Funding Analysis
Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital---popularly known as "funding"---to think big, grow rich, and leave a lasting impact. In this project, you are going to analyse funding received by start-ups in India from 2018 to 2021. You will find the data for each year of funding in a separate csv file in the dataset provided. In these files you'll find the start-ups' details, the funding amounts received, and the investors' information.

# Scenario
Your team is trying to venture into the Indian start-up ecosystem. As the data expert of the team you are to investigate the ecosystem and propose the best course of action.

# Accessing your data from the database
# Steps to take to use environment variables as opposed to credentials literals
 1.Install pyodbc - a package for creating connection strings to your remote database

 2.Install python-dotenv - a package for creating environment variables that will help you hide sensitve configuration informantion such as database credentials and API keys

 3.Import all the necessary libraies
 
    a.pyodbc (for creating a connection)

    b.python-dotenv (loading environment variables)
    
    c.os (for accessing the environement variables using the load_env function. This is not needed if you use the dotenv_values function instead)

4.Now create a file called .env in the root of your project folder (Note, the file name begins with a dot)

5.In the .env file, put all your sensitive information like server name, database name, username, and password

# Venture and start-up In India
To present hypothesis our Team has come up with 5 analytical questions to be used for the Exploratory Data Analysis.


Null Hypothesis (H0):
 The round of funding (Stage) does not have a significant impact on the amount of funds raised (Amount($)) by Indian startups in the dataset.

Alternate Hypothesis (H1):
 The round of funding (Stage) has a significant impact on the amount of funds raised (Amount($)) by Indian startups in the dataset.

Analytical questions
These questions willhelp theteam focus on the business questionwe outght to answer and help to either acceptor refute our claims about the indian startup ecosystem as we analyze the data.

Questions
1. How does the distribution of funding amounts vary across different stages of funding?

2. Is there a correlation between the round of funding and the amount of funds raised by Indian startups?

3. Are there significant differnces in the amount of funds raised among different stages of funding? 

4. Which stage of funding tends to attract the highest amount of funds on avarage?

5. Are there any outliers in the funding amount within each stage?

**step 1** - Install pyodbc and python-dotenv and import libraries

**step 2** - Import all the necessary packages

In [1]:
# Import necessary libraries
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import warnings

# Ignore warning messages during code execution
warnings.filterwarnings('ignore')

**step 3** - create a .env file in root of the folder of the project

In [2]:
#loading the env variables to a dictionary
environment_variables=dotenv_values('.env')

**step 4** -  he env file put all the sensitive information.

In [3]:
#getting values for credantials set
database=environment_variables.get('DATABASE')
server=environment_variables.get('SERVER')
username=environment_variables.get('USERNAME')
password=environment_variables.get('PASSWORD')

**step 5 **- Create a .gitignore file and type '/.env/' file we just created. This will prevent git from tracking the file.

**step 6 **- create a connection by accessing your connection string with your defined environment variables

In [4]:
# Setup connection string to connect to the remote server
connection_string = pyodbc.connect(f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}')

In [5]:
# Get link to the 2018 data hosted on github
startup_funding2018url = "https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/main/startup_funding2018.csv"

# Query statement to fetch 2020 data from the remote server
startup_funding2020_query = 'SELECT * FROM dbo.LP1_startup_funding2020'

# Query statement to fetch 2021 data from the remote server
startup_funding2021_query = 'SELECT * FROM dbo.LP1_startup_funding2021'

In [6]:
# Read all data from different sources
df_2018 = pd.read_csv(startup_funding2018url)

df_2019 = pd.read_csv('startup_funding2019.csv')

df_2020 = pd.read_sql_query(startup_funding2020_query, connection_string)

df_2021 = pd.read_sql_query(startup_funding2021_query, connection_string)

# Exploratory Data Analysis: EDA

Use various pandas functions and methods to gain an initial understanding of the data.

In [7]:
# View first 5 rows of the 2018 dataset
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [8]:
# View first 5 rows of the 2019 dataset
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [9]:
# Get total rows and columns of each of the dataset
df_2018.shape, df_2019.shape

((526, 6), (89, 9))

In [10]:
# Get information about 2018 dataFrame and the columns
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [11]:
# Get information about 2019 dataFrame and the columns
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [12]:
# Get descriptive statistics about 2018 dataFrame
df_2018.describe()

,Company Name,Industry,Round/Series,Amount,Location,About Company
count,526,526,526,526,526,526
unique,525,405,21,198,50,524
top,TheCollegeFever,—,Seed,—,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
freq,2,30,280,148,102,2

In [13]:
# Get descriptive statistics about 2019 dataFrame
df_2019.describe(include='all')

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
count,89,60.000000,70,84,89,86,89,89,43
unique,87,NaN,17,52,88,85,86,50,15
top,Kratikal,NaN,Bangalore,Edtech,Online meat shop,"Vivek Gupta, Abhay Hanjura",Undisclosed,Undisclosed,Series A
freq,2,NaN,21,7,2,2,3,12,10
mean,NaN,2014.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.937003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,2004.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2016.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Get more information of the Round/Series column in 2018 dataset
df_2018['Round/Series'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [15]:
df_2018['Round/Series'].value_counts()

Round/Series
Seed                                                                                                       280
Series A                                                                                                    73
Angel                                                                                                       37
Venture - Series Unknown                                                                                    37
Series B                                                                                                    20
Series C                                                                                                    16
Debt Financing                                                                                              13
Private Equity                                                                                              10
Corporate Round                                                                                              8
Pre-Seed                                                                                                     6
Series E                                                                                                     5
Grant                                                                                                        4
Series D                                                                                                     3
Secondary Market                                                                                             3
Post-IPO Equity                                                                                              3
Undisclosed                                                                                                  2
Post-IPO Debt                                                                                                2
Non-equity Assistance                                                                                        1
Series H                                                                                                     1
https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593      1
Funding Round                                                                                                1
Name: count, dtype: int64

In [16]:
# Get more information of the Stage column in 2019 dataset
df_2019['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [17]:
df_2019['Stage'].value_counts()

Stage
Series A         10
Pre series A      8
Series B          8
Series D          4
Series C          3
Fresh funding     1
Series G          1
Post series A     1
Seed funding      1
Seed fund         1
Series E          1
Series F          1
Series B+         1
Seed round        1
Pre-series A      1
Name: count, dtype: int64

In [18]:
# Check for missing values 
df_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [19]:
df_2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [20]:
# Check for duplicates
df_2018.duplicated().sum()

1

In [21]:
df_2019.duplicated().sum()

0

In [22]:
# Retrieve the duplicated rows in the 2018 dataset
df_2018[df_2018.duplicated()]

,Company Name,Industry,Round/Series,Amount,Location,About Company
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

## Data Assessment

After the data was gathered from the various sources, the data was Visually and Programmatically assessed on Quality issues.

#### Data Quality Issues

I have identified several data quality issues while exploring the datasets:

1. Inconsistent and missing columns: Some datasets have inconsistent column structures, with missing columns in certain cases.

2. Missing columns and duplicates in the 2018 dataset: Specifically, the 2018 dataset is missing additional columns that are present in other datasets.

3. Inconsistent values and currencies in the Amount column: The Amount column contains inconsistent values and different currencies.

4. Inconsistent values in the Stage column: The Stage column exhibits inconsistent values across all datasets, which hampers uniform analysis.

5. Missing values: Some datasets contain missing values, which need to be addressed for a complete and reliable analysis.

## Data Cleaning

#### 2018 data cleaning

In [23]:
# Check the uniqueness of the amount column
df_2018['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [24]:
# Get total unique values
df_2018['Amount'].nunique()

198

In [25]:
# Define a function to clean the amount column

def clean_amount_column(): 
    # Create a copy of the 'Amount' column in df_2018 and remove commas
    amount_column = df_2018['Amount'].copy().str.replace(',', '')
    
    # Extract values in rupees (₹)
    amt_in_rupee = amount_column[amount_column.str.startswith('₹')]
    # Strip off the leading currency symbol in the Amount column
    amt_in_rupee = amt_in_rupee.str.lstrip('₹')
    # Convert the rupee amounts to USD using the conversion rate 1usd = 68.4113
    amt_in_rupee = amt_in_rupee.apply(lambda x: int(float(x) / 68.4113))
   
    # Extract values in dollars ($)
    amt_in_dollar = amount_column[amount_column.str.startswith('$')]
    # Remove the dollar sign
    amt_in_dollar = amt_in_dollar.str.lstrip('$')
        
    # Replace the uncleaned amount values with the cleaned rupee amounts
    amount_column.loc[amt_in_rupee.index] = amt_in_rupee
    # Replace the uncleaned amount values with the cleaned dollar amounts
    amount_column.loc[amt_in_dollar.index] = amt_in_dollar

    # Convert the amount column to numeric
    amount_column = pd.to_numeric(amount_column, errors='coerce')

    # Update the 'Amount' column in df_2018 with the cleaned amount values
    df_2018['Amount'] = amount_column

In [26]:
# Run the clean amount column function
clean_amount_column()

In [27]:
# Confirm changes
df_2018['Amount'].head(10)

0     250000.0
1     584698.0
2     950135.0
3    2000000.0
4          NaN
5    1600000.0
6     233879.0
7     730873.0
8          NaN
9          NaN
Name: Amount, dtype: float64

In [28]:
# Drop Duplicates rows
df_2018.drop_duplicates(inplace=True)

In [29]:
# Confirm changes
df_2018.duplicated().sum()

0

In [30]:
# create a new year (Founded) column for the 2018 dataset
df_2018['Founded'] = 2018

In [31]:
# Confirm changes
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584698.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,950135.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [32]:
# Rename the columns to reflect the columns in the data dictionary
columns_to_rename = {
    'Company Name': 'Company/Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'Amount': 'Amount($)',
    'About Company': 'What it does'
}

df_2018.rename(columns=columns_to_rename, inplace=True)

In [33]:
# Confirm changes
df_2018.head()

,Company/Brand,Sector,Stage,Amount($),Location,What it does,Founded
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584698.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,950135.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [34]:
df_2018['Stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [35]:
# Clean the Stage column categorize them

new_stage = {
    'Seed': 'Seed funding',
    'Angel': 'Seed funding',
    'Venture - Series Unknown': 'Series A',
    'Debt Financing': 'Series A',
    'Grant': 'Seed funding',
    'Pre-Seed': 'Pre-Seed funding',
    'Funding Round': 'Pre-Seed funding',
    'Fresh funding': 'Pre-Seed funding',
    'Pre series A': 'Series A',
    'Post series A': 'Series A',
    'Seed fund': 'Seed funding',
    'Series B+': 'Series B',
    'Seed round': 'Seed funding',
    'Pre-seed' : 'Pre-Seed funding',
    'Seed': 'Seed funding',
    'Pre-series A' : 'Series A',
    'Pre-series' : 'Pre-Seed funding',
    'Pre-series C' : 'Series C', 
    'Pre-series B' : 'Series B',
    'Pre- series A' : 'Series A',
    'Pre-Series B' : 'Series B',
    'Series A-1' : 'Series A', 
    'Seed Funding' : 'Seed funding', 
    'Pre-Seed' : 'Pre-Seed funding', 
    'Seed round': 'Seed funding' ,
    'Pre-seed Round': 'Pre-Seed funding', 
    'Pre Series A' : 'Series A',
    'Pre seed Round': 'Pre-Seed funding', 
    'Angel Round' :  'Seed funding', 
    'Pre series A1': 'Series A',
    'Pre series A' : 'Series A', 
    'Seed Round' : 'Seed funding',
    'Pre seed round' : 'Pre-Seed funding',
    'Pre series B' : 'Series B', 
    'Pre series C' : 'Series B', 
    'Seed Investment': 'Seed funding',
    'Seed+' : 'Seed funding',
    'Series A+' : 'Series A',
    'PE' : 'Private Equity',
    'Pre-series A1' : 'Series A', 
    '$300000' : 'None', 
    'Early seed' : 'Pre-Seed funding',
    '$6000000' : 'None',
    '$1000000' : 'None',
    'Series B2' : 'Series B',
    'Series E2' : 'Series E', 
    'Series D1' : 'Series D',
    'Series B3' : 'Series B',
    'Series F1' : 'Series F',
    'Series A2' : 'Series A',
    '$1200000': 'None',
    'Series F2':'Series F'
}

In [36]:
# Replace with the new stages
df_2018.replace({'Stage': new_stage}, inplace=True)

In [37]:
# Confirm changes
df_2018['Stage'].unique()

array(['Seed funding', 'Series A', 'Series B', 'Pre-Seed funding',
       'Private Equity', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance'], dtype=object)

In [38]:
# Replace the web address with NaN
df_2018['Stage'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', np.NaN, inplace=True)

In [39]:
# Confirm changes
df_2018['Stage'].value_counts()

Stage
Seed funding             320
Series A                 123
Series B                  20
Series C                  16
Private Equity            10
Corporate Round            8
Pre-Seed funding           7
Series E                   5
Series D                   3
Secondary Market           3
Post-IPO Equity            3
Post-IPO Debt              2
Undisclosed                2
Series H                   1
Non-equity Assistance      1
Name: count, dtype: int64

#### 2019 Data Cleaning

In [40]:
# Get all columns of the dataset
df_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [41]:
# Clean the Founded column
df_2019['Founded'].unique()

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008.])

In [42]:
# Replace nan with NaN and convert it to numeric
df_2019['Founded'] = pd.to_numeric(df_2019['Founded'], errors='coerce').astype('Int64')

In [43]:
# Confirm changes
df_2019['Founded'].unique()

<IntegerArray>
[<NA>, 2014, 2004, 2013, 2010, 2018, 2019, 2017, 2011, 2015, 2016, 2012, 2008]
Length: 13, dtype: Int64

In [44]:
# Clean the amount column
df_2019['Amount($)'].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [45]:
# Strip off the dollar($) sign and remove all commas and convert to int
df_2019['Amount($)'] =  df_2019['Amount($)'].str.lstrip('$').str.replace(',', '')

In [46]:
# Check for duplicates and remove them
df_2019['Company/Brand'].value_counts()

Company/Brand
Kratikal            2
Licious             2
Bombay Shaving      1
KredX               1
Euler Motors        1
                   ..
HungerBox           1
Fireflies .ai       1
Toffee Insurance    1
Seekify             1
Ess Kay Fincorp     1
Name: count, Length: 87, dtype: int64

In [47]:
df_2019[(df_2019['Company/Brand'] == 'Kratikal') | (df_2019['Company/Brand'] == 'Licious')]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
7,Kratikal,2013,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1000000,Pre series A
30,Licious,<NA>,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Growth Fund,30000000,Series E
68,Licious,2015,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Ventures,25000000,Series D
82,Kratikal,<NA>,Uttar pradesh,Technology,Provides cyber security solutions,Pavan Kushwaha,"Gilda VC, Art Venture, Rajeev Chitrabhanu",1000000,Pre-series A

In [48]:
# For data accuracy drop index 30 and 82
df_2019.drop(index=[30, 82], inplace=True)

In [49]:
# Confirm changes
df_2019[(df_2019['Company/Brand'] == 'Kratikal') | (df_2019['Company/Brand'] == 'Licious')]

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
7,Kratikal,2013,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1000000,Pre series A
68,Licious,2015,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Ventures,25000000,Series D

In [50]:
# Reset Index
df_2019.reset_index(inplace=True)

In [51]:
# clean the stage column
df_2019['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series F', 'Series B+', 'Seed round'],
      dtype=object)

In [52]:
# Replace with new stages
df_2019.replace({'Stage': new_stage}, inplace=True)

In [53]:
# Confirm changes
df_2019['Stage'].unique()

array([nan, 'Series C', 'Pre-Seed funding', 'Series D', 'Series A',
       'Series G', 'Series B', 'Seed funding', 'Series F'], dtype=object)

In [54]:
# Check missing values
df_2019.isnull().sum()

# Missing values will be taken care of when all 4 datasets are concatenated and unnecessary columns will be dropped also.

index             0
Company/Brand     0
Founded          27
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

#### 2020 Data Cleaning

In [55]:
# Inspect the first 5 rows of the data
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [56]:
# Check for duplicates
df_2020.duplicated().sum()

3

In [57]:
# View the duplicates
df_2020[df_2020.duplicated()]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,None
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,None
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,None

In [58]:
# Drop the duplicates
df_2020.drop_duplicates(inplace=True)

In [59]:
# Confirm changes
df_2020.duplicated().sum()

0

In [60]:
# Drop the column10 since it is unnecessary
df_2020.drop('column10', axis=1, inplace=True)

In [61]:
# Clean the amount column i.e convert to numeric
df_2020['Amount'] = pd.to_numeric(df_2020['Amount'], errors='coerce')

In [62]:
# Convert the Founded (Year) to numeric
df_2020['Founded'] = pd.to_numeric(df_2020['Founded'], errors='coerce')

In [63]:
# Clean the stage column
df_2020['Stage'].unique()

array([None, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [64]:
# Assign new stages to correct all inconsistencies
df_2020['Stage'] = df_2020.replace({'Stage': new_stage})['Stage']

In [65]:
# Confirm changes
df_2020['Stage'].unique()

array([None, 'Pre-Seed funding', 'Seed funding', 'Series A', 'Series C',
       'Series B', 'Debt', 'Series E', 'Bridge', 'Series D', 'Series F',
       'Edge', 'Series H', 'Seed A', 'Seed Round & Series A',
       'Bridge Round', 'Mid series', 'Series C, D'], dtype=object)

In [66]:
# Rename columns
df_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [67]:
# Rename the company name and the amount column for consistency
df_2020.rename(columns={'Company_Brand': 'Company/Brand', 'Amount': 'Amount($)', 'What_it_does': 'What it does'}, inplace=True)

In [68]:
# Confirm changes
df_2020.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

#### 2021 Data Cleaning

In [69]:
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [70]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [71]:
# Clean the amount column
df_2021['Amount'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [72]:
# Strip off the $ and remove all commas
df_2021['Amount'] = df_2021['Amount'].str.lstrip('$').str.replace(',', '')

In [73]:
# Confirm changes
df_2021['Amount'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 'Undisclosed', '1000000', '3000000',
       '100000', '700000', '9000000', '40000000', '49000000', '400000',
       '300000', '25000000', '160000000', '150000', '1800000', '5000000',
       '850000', '53000000', '500000', '1100000', '6000000', '800000',
       '10000000', '21000000', '7500000', '26000000', '7400000',
       '1500000', '600000', '800000000', '17000000', '3500000',
       '15000000', '215000000', '2500000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '65000000', '150000000000',
       '300000000', '2200000', '35000000', '140000000', '4000000',
       '13000000', None, '9500000', '8000000', 'Upsparks', '12000000',
       '1700000', '150000000', '100000000', '225000000', '6700000',
       '1300000', '20000000', '250000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '7000000', '450000000', '28000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '50000000', '4900000', '145000000',
       '22000000', '70000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'Series C', 'Seed', '96000000', '60000000',
       '266000000', '4500000', '325000000', '6500000', '1600000',
       '225000', '85000000', '235000', '260000', '2900000', '86000000',
       '130000', '10000', '111000000', '265000', '76000000', '75000000',
       '1000000000', '18000000', '350000', '95000000', '4100000',
       '5200000', '1400000', '2600000', '900000', '11000000', '280000000',
       '14300000', '81000000', '8200000', '720000', '330000',
       'undisclosed', '200000000', '36000000', '67000000', '10200000',
       '220000000', '108000000', '450000', '660000000', 'ah! Ventures',
       '45000000', '3200000', '370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '48000000', '3600000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '140000', '250000000', '320000', '4800000', '38000000', '125000',
       '64000000', '620000', 'JITO Angel Network LetsVenture', '1250000',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '6300000', '12500000',
       '16500000', '340000', '43000000', '3300000', '92000000',
       '135000000', '155000', '2100000', '840000000', '248000000',
       '4300000', '570000', '4700000', '260000000', '175000000',
       '19000000', '810000', '600000000', '90000000', '5700000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '550000', '2700000', '4200000', '31000000', '540000',
       '14000000', '', '6200000', '750000', '23000000', '55000000'],
      dtype=object)

In [74]:
# Incorrect amount identified ('Undisclosed', 'undisclosed', 'Series C', 'Seed', Upsparks', '', None)
# 'undisclosed' will be replaced with 'Undisclosed' and the rest with None
amt_to_replace = {
    'undisclosed': 'Undisclosed',
    'Series C' : 'None', 
    'Seed' : 'None', 
    'Upsparks' : 'None', 
    '' : 'None'
}
df_2021.replace({'Amount': amt_to_replace}, inplace=True)

In [75]:
# Confirm changes
df_2021['Amount'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 'Undisclosed', '1000000', '3000000',
       '100000', '700000', '9000000', '40000000', '49000000', '400000',
       '300000', '25000000', '160000000', '150000', '1800000', '5000000',
       '850000', '53000000', '500000', '1100000', '6000000', '800000',
       '10000000', '21000000', '7500000', '26000000', '7400000',
       '1500000', '600000', '800000000', '17000000', '3500000',
       '15000000', '215000000', '2500000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '65000000', '150000000000',
       '300000000', '2200000', '35000000', '140000000', '4000000',
       '13000000', None, '9500000', '8000000', 'None', '12000000',
       '1700000', '150000000', '100000000', '225000000', '6700000',
       '1300000', '20000000', '250000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '7000000', '450000000', '28000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '50000000', '4900000', '145000000',
       '22000000', '70000000', '6600000', '32000000', '24000000',
       '725000', '461000', '96000000', '60000000', '266000000', '4500000',
       '325000000', '6500000', '1600000', '225000', '85000000', '235000',
       '260000', '2900000', '86000000', '130000', '10000', '111000000',
       '265000', '76000000', '75000000', '1000000000', '18000000',
       '350000', '95000000', '4100000', '5200000', '1400000', '2600000',
       '900000', '11000000', '280000000', '14300000', '81000000',
       '8200000', '720000', '330000', '200000000', '36000000', '67000000',
       '10200000', '220000000', '108000000', '450000', '660000000',
       'ah! Ventures', '45000000', '3200000', '370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '48000000', '3600000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '140000', '250000000', '320000', '4800000', '38000000', '125000',
       '64000000', '620000', 'JITO Angel Network LetsVenture', '1250000',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '6300000', '12500000',
       '16500000', '340000', '43000000', '3300000', '92000000',
       '135000000', '155000', '2100000', '840000000', '248000000',
       '4300000', '570000', '4700000', '260000000', '175000000',
       '19000000', '810000', '600000000', '90000000', '5700000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '550000', '2700000', '4200000', '31000000', '540000',
       '14000000', '6200000', '750000', '23000000', '55000000'],
      dtype=object)

In [76]:
# Check for duplicates
df_2021.duplicated().sum()

19

In [77]:
# View all duplicates
df_2021[df_2021.duplicated()]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",13000000,None
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,8000000,None
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",None,$1200000
117,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",1700000,None
119,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,1000000,None
243,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,6600000,Series A
244,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",32000000,Seed
245,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",150000000,Series C
246,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,24000000,Series E
247,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,700000,Seed
248,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",Undisclosed,Seed
249,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",200000,None
250,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",1500000,Seed
251,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,1300000,Pre-series A
252,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,1000000,Pre-series A
253,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",725000,Pre-series A
254,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",None,500000,None
255,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000,Seed
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,None,None

In [78]:
# Drop all duplicates
df_2021.drop_duplicates(inplace=True)

In [79]:
# Confirm changes
df_2021.duplicated().sum()

0

In [80]:
# Clean the stage column
df_2021['Stage'].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       '$1200000', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I'],
      dtype=object)

In [81]:
df_2021.replace({'Stage': new_stage}, inplace=True)

In [82]:
# Confirm changes
df_2021['Stage'].unique()

array(['Series A', None, 'Series D', 'Series C', 'Seed funding',
       'Series B', 'Series E', 'Pre-Seed funding', 'Debt', 'None',
       'Bridge', 'Series F', 'Series G', 'Series H', 'Private Equity',
       'Seies A', 'Series I'], dtype=object)

In [83]:
# Rename columns
df_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [84]:
# Rename the company name and the amount column for consistency
df_2021.rename(columns={'Company_Brand': 'Company/Brand', 'Amount': 'Amount($)', 'What_it_does': 'What it does'}, inplace=True)

In [85]:
# Confirm changes
df_2021.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

### Concatenate all 4 datasets

In [86]:
# Check all columns and drop unnecessary ones
df_2018.columns, df_2019.columns, df_2020.columns, df_2021.columns

(Index(['Company/Brand', 'Sector', 'Stage', 'Amount($)', 'Location',
        'What it does', 'Founded'],
       dtype='object'),
 Index(['index', 'Company/Brand', 'Founded', 'HeadQuarter', 'Sector',
        'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage'],
       dtype='object'),
 Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
        'Founders', 'Investor', 'Amount($)', 'Stage'],
       dtype='object'),
 Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
        'Founders', 'Investor', 'Amount($)', 'Stage'],
       dtype='object'))

##### Observations

- `Location` column in 2018 dataset is to be dropped since it does not have any impact on our analysis
- `Index` column in 2019 will also be dropped
- `HeadQuarter, Founders, Investors` columns are to be dropped since our analysis or hypothesis doesn't involve analyzing those columns

In [87]:
# Drop columns
df_2018.drop('Location', axis=1, inplace=True)
df_2019.drop(columns=['index','HeadQuarter', 'Founders', 'Investor' ], inplace=True)
df_2020.drop(columns=['HeadQuarter', 'Founders', 'Investor' ], inplace=True)
df_2021.drop(columns=['HeadQuarter', 'Founders', 'Investor' ], inplace=True)

In [88]:
# Confirm changes
df_2018.columns, df_2019.columns, df_2020.columns, df_2021.columns

(Index(['Company/Brand', 'Sector', 'Stage', 'Amount($)', 'What it does',
        'Founded'],
       dtype='object'),
 Index(['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount($)',
        'Stage'],
       dtype='object'),
 Index(['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount($)',
        'Stage'],
       dtype='object'),
 Index(['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount($)',
        'Stage'],
       dtype='object'))

In [89]:
# Concatenate all 4 dataset and save to it a master_df variable
master_df = pd.concat([df_2018, df_2019, df_2020, df_2021], ignore_index=True)

In [90]:
master_df

,Company/Brand,Sector,Stage,Amount($),What it does,Founded
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed funding,250000.0,"TheCollegeFever is a hub for fun, fiesta and f...",2018.0
1,Happy Cow Dairy,"Agriculture, Farming",Seed funding,584698.0,A startup which aggregates milk from dairy far...,2018.0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,950135.0,Leading Online Loans Marketplace in India,2018.0
3,PayMe India,"Financial Services, FinTech",Seed funding,2000000.0,PayMe India is an innovative FinTech organizat...,2018.0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed funding,NaN,Eunimart is a one stop solution for merchants ...,2018.0
...,...,...,...,...,...,...
2849,Gigforce,Staffing & Recruiting,Series A,3000000,A gig/on-demand staffing company.,2019.0
2850,Vahdam,Food & Beverages,Series D,20000000,VAHDAM is among the world’s first vertically i...,2015.0
2851,Leap Finance,Financial Services,Series C,55000000,International education loans for high potenti...,2019.0
2852,CollegeDekho,EdTech,Series B,26000000,"Collegedekho.com is Student’s Partner, Friend ...",2015.0
2853,WeRize,Financial Services,Series A,8000000,India’s first socially distributed full stack ...,2019.0